@model jeweller.Models.JewellerDetails

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <h3>JewellerDetails</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Contact1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Contact1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Contact2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Contact2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Pincode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pincode)
            </dd>
    
        </dl>
        @Html.ActionLink("Edit", "Edit")
        <br />
        @Html.ActionLink("Customers","Receipt","Customer")
        <br />
        @Html.ActionLink("View Products", "ViewProducts")
        
    </div>
</body>
</html>
